{%extends 'index.html'%}

{%block content%}
    <div class="col-lg-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <strong>Add Employee</strong>
            </div>
            <div class="card-body card-block">
                {% csrf_token %}
                <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    
                    
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="name" name="name" placeholder="Name" class="form-control"> 
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Surname</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="surname" name="surname" placeholder="Surname" class="form-control"> 
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Position</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="position" name="position" placeholder="Position" class="form-control"> 
                        </div>
                    </div>
                   
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="select" class=" form-control-label">Etat</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="etat" id="etat" class="form-control">
                                <option value="F">Pełny etat</option>
                                <option value="Q">3/4 Etatu</option>
                                <option value="H">1/2 Etatu</option>
                            </select>
                        </div>
                    </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm offset-md-5">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </div>
        
    </div>
</div>    
                    
{%endblock%}