
{%extends 'index.html'%}

{%block content%}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Add Employee</strong>
            </div>
            <div class="card-body card-block">
                
                <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {%csrf_token%}
                
                    
                    
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Select Employees</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    {%for employee in employees%}
                                    <div class="checkbox">
                                        <label for="checkbox1" class="form-check-label ">                                                       
                                    
                                        <input type="checkbox" id="{{employee.id}}" name="employee" value="{{employee.id}}" class="form-check-input">{{employee}} {{employee.surname}}    
                                       
                                        </label>
                                    </div>
                                    {%endfor%} 
                                </div>
                            </div>
                        </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Start Date</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="start_date" name="start_date" placeholder="Text" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">End date</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="end_date" name="end_date" placeholder="Text" class="form-control">
                                </div>
                            </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </div>
        
    </div>
</div>    
{%endblock%}