{%extends 'index.html'%}

{%block content%}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Add Employee</strong>
            </div>
            <div class="card-body card-block">
                {% csrf_token %}
                <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    
                   
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="select" class=" form-control-label">Employee</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="employee" id="employee" class="form-control">
                                {%for employee in employees%}
                                    <option value="{{employee.id}}">{{employee}} {{employee.surname}}</option>
                                {%endfor%}

                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="select" class=" form-control-label">Type</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="free_day_type" id="free_day_type" class="form-control">
                                
                            <option value="vacation">Vacation</option>
                            <option value="free_day">Free Day</option>
                                

                            </select>
                        </div>
                    </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Start Date</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="start_date" name="start_date" placeholder="Text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">End date</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="end_date" name="end_date" placeholder="Text" class="form-control">
                            </div>
                        </div>
                    

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
            </form>
        </div>    
    </div>
                                
{%endblock%}                        