{%extends 'index.html'%}

{%block content%}
    <div class="col-md-4 offset-md-4">
        <div class="card border border-primary">
            <div class="card-header">
                <strong class="card-title"><a href="{% url 'emp_profile' employee.id %}">{{employee}} {{employee.surname}}</a></strong>
            </div>
            <div class="card-body">
                <strong class="card-title">Vacations dates</strong> 
                {% for vacation in vacations %}
                    <div class="card-body">
                        <p class="card-text">

                            <ul>
                                <li>{{vacation.start_date}} <a href="{% url 'delete_vacation' vacation.id %}" class="btn btn-danger btn-sm offset-md-7">Delete</a></li>
                                <li>{{vacation.end_date}}</li>
                            </ul>
                        </p>
                    </div>
                {%endfor%}
            </div>
            <div class="card-body">
                <strong class="card-title">Free Days</strong>
                {% for free_day in free_days %}
                    <div class="card-body">
                        <p class="card-text">
                            <ul>
                                
                                <li>{{free_day.date}} <a href="{% url 'delete_free_day' free_day.id %}" class="btn btn-danger btn-sm offset-md-6">Delete</a></li>
                                
                            </ul>
                        </p>
                    </div>    
                {%endfor%}
            </div>
            
            <div class="card-footer">
                <div class="float-end">
                    <a href="{% url 'edit_employee' employee.id %}" class="btn btn-primary offset-md-4">Edit</a>
                    <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{%endblock%}