{%extends 'index.html'%}

{%block content%}
{% load crispy_forms_tags %}
	<div class="col-lg-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <strong>Edit {{user}}</strong>
            </div>
            <div class="card-body card-block">
                {% csrf_token %}
                <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}

                    <div class="row form-group">
                        <div class="col-md-6 offset-md-3">
                        {{edit_email |crispy}}
                        {{edit_password |crispy}}
                        </div>
                    </div>


            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm offset-md-5">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
                </form>
            </div>
        </div>
        
    </div>




{%endblock%}