{%extends 'index.html'%}

{%block content%}
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Position</th>
                            <th>Work-Time</th>
                            <th>Works today</th>
                        </tr>
                    </thead>
                    {%for employee in employees%}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'emp_profile' employee.id %}">{{employee}}</a></td>
                            <td><a href="{% url 'emp_profile' employee.id %}">{{employee.surname}}</a></td>
                            <td>{{employee.position}}</td>
                            <td class="process">{{employee.work_time}}</td>
                            <td>YES</td>
                        </tr>
                    </tbody>
                    {%endfor%}
                </table>
            </div>
            
             
        </div>    
     

    </div>
{%endblock%}